{% extends "base.html" %}

{% block title %}New Room{% endblock %}

{% block styles %}<link href="/static/styles.css" rel="stylesheet">{% endblock %}

{% block main %}
    <div class="center">
        <form action="/join" method="POST">
            {% if error %}
            <p class="error">Invalid code!</p>
            {% endif %}
            <input name="invite" type="text" maxlength="32" placeholder="Invite Code"><br>
            <button type="submit">Join Room</button>
        </form>
    </div>
{% endblock %}

